// $default-font: "Montserrat", sans-serif;
$default-font: 'Poppins', sans-serif;
$font-family-sans-serif : $default-font;

$bg-white: #fff;
$bg-dark: #000;
$theme-color: #E5A600;


$primary: $theme-color;
$success: #89A525;
$info: #00B7F7;
$font-size-base: .875rem;