<nav class="navbar bg-primary sticky-md-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)" (click)="ToggleMenu()">
      <span class="navbar-toggler-icon" style="filter: brightness(10)"></span>
    </a>
    <div class="text-center d-sm-none">
      <img src="/assets/images/png/text-logo.png" alt="" class="img-fluid my-2 text-logo" style="max-width: 125px">
    </div>
    <div class="text-end">      
      <button type="button" class="btn btn-danger btn-sm d-flex align-items-center text-white text-decoration-none logoff"
    (click)="CF.logout()">
    <i class="icon me-2" style="-webkit-mask-image: url('../../../assets/images/png/logoff.png')"></i>
    <strong class="text">Logout</strong>
  </button> 
    </div>
  </div>
</nav>