<section id="podcast">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>
            </div>
            <div class="col-sm-12 py-3">
                <div class="card">
                    <div class="card-body">
                        <div class="responsiveTable w-100" [ngClass]="{'dnone': !showTable}" *ngIf="!triggerTable">
                            <table datatable [dtOptions]="dtOptions" class="table table-bordered"></table>
                        </div>
                        <ng-container *ngIf="!showTable">
                            <section class="table-loader">
                                <div class="table-loader__header table-loader__row">
                                    <div class="line" *ngFor="let item of [].constructor(6)"></div>
                                </div>
                                <div class="table-loader__body">
                                    <div class="table-loader__row" *ngFor="let item of [].constructor(5)">
                                        <div class="line" *ngFor="let item of [].constructor(6)"></div>
                                    </div>
                                </div>
                            </section>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #formpopup let-c="close()" let-d="dismiss()">
    <div class="modal-header justify-content-start">
        <button type="button" class="close" (click)="(c); (d)"></button>
        <div class="card-header-title font-size-lg text-capitalize fw-normal">
            <small class="d-block text-muted">Edit </small>
            <span class="text-uppercase fw-bold">PODCAST </span>
        </div>
    </div>
    <app-editform [selectedPOD]="selectedPOD" (formSubmmited)="formSubmmited($event)"></app-editform>
</ng-template>