#chat {
    background-color: #eee;

    .card {
        opacity: 1;

        .card-body {
            height: calc(100vh - 195px);
            overflow: auto;

            .comment {
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;

                &:nth-last-child(1) {
                    border-bottom: none
                }
                .avatar {
                    $size: 50px;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                .like_icon {
                    width: 20px; height: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}