#podcastdetails {
    .images {
        background-color: var(--bs-body-bg);
        border: var(--bs-border-width) dotted var(--bs-border-color);
        display: flex;
        align-items: center;
        height: 100%;

        .main_image {
            max-width: 400px;
            width: 100%;
            object-fit: contain;
        }
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .about {
        font-size: 14px;
    }

    .play_btn {
        cursor: pointer;

        img {
            $size: 75px;
            width: $size;
            height: $size;
        }
    }
    #main_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
        place-content: center;
        margin: 15px 0;
        padding: 0;
        font-size: 0;

        li {
            list-style: none;
            font-size: 1rem;

            .card {
                border-radius: 4px;
                --bs-bg-opacity: 0.95;
                border: none;

                .card-body {
                    display: flex;
                    align-items: center;

                    .content {
                        width: 100%;
                    }

                    .icon_wrapper {
                        width: 50px;
                        height: 50px;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}