#podcastdetails {
    .images {
        background-color: var(--bs-body-bg);
        border: var(--bs-border-width) dotted var(--bs-border-color);
        display: flex;
        align-items: center;
        height: 100%;

        .main_image {
            max-width: 400px;
            width: 100%;
            object-fit: contain;
        }
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .about {
        font-size: 14px;
    }

    .play_btn {
        cursor: pointer;

        img {
            $size: 75px;
            width: $size;
            height: $size;
        }
    }
}