@import "../../../assets/scss/variable";
@import "../../../assets/scss/responsive";

#sidebar {
    flex-shrink: 0;
    height: 100vh;
    width: 250px;
    background: linear-gradient(to bottom, rgb(12 12 12 / 75%), rgb(10 10 10)), url('/assets/images/jpg/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .logo {
        .text-logo {
            display: flex !important;
        }

        .only-logo {
            display: none !important;
        }
    }

    ul {
        opacity: 1;

        li {
            .nav-link {
                display: inline-flex;
                align-items: center;
                width: 100%;

                &.active {
                    background-color: rgba($color: $theme-color, $alpha: 0.3);
                    border-bottom: 1px solid $theme-color;
                }
            }

            .icon {
                background-color: rgba($color: #fff, $alpha: 0.75);
                $size: 24px;
                width: $size;
                height: $size;
                display: inline-flex;
                -webkit-mask-size: cover;
            }

            strong.text {
                line-height: 0;
            }
        }
    }

    &.smallbar {
        width: 72px;
        padding: 0.5rem !important;
        transition: 100ms linear all;

        @include mobile {
            display: none !important;
        }

        .user_info {
            display: none;
        }

        .logo {
            .text-logo {
                display: none !important;
            }

            .only-logo {
                display: flex !important;
            }
        }

        ul {
            li {
                padding-bottom: 1rem;

                .icon {
                    margin: 0 !important;
                }
            }
        }

        strong.text {
            display: none;
        }
    }

    
}