@import "./assets/scss/variable";
@import "./assets/scss/responsive";
@import 'bootstrap/scss/bootstrap';

#main_layout {
    display: flex;
}

.button--loading {
    position: relative;
    cursor: wait;
    pointer-events: none;
    outline: 0;

    :before {
        content: "";
        margin: -13px 0 0 -13px;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-border-radius: 24px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 24px;
        -moz-background-clip: padding;
        border-radius: 24px;
        background-clip: padding-box;
        border: 2px solid $bg-white;
        border-top-color: $theme-color;
        animation: animation-rotate 750ms linear infinite;
    }
}

.button--loading span,
.button--loading:active span,
.button--loading:hover span {
    color: transparent;
    text-shadow: none;
}

@keyframes animation-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.sidebar_overflow {
    @include mobile {
        overflow: hidden !important;
    }
}

.dnone {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

// TABLES
.responsiveTable {
    table.dataTable thead th {
        background: $theme-color;
        color: #fff;
        border-bottom: 1px solid $theme-color;
        text-transform: capitalize !important;
    }

    .dataTables_processing {
        border: none;
        background: #fff;
        box-shadow: 0px 6px 30px #ccc;
    }

    .dataTables_processing>div:last-child>div {
        background: $theme-color;
    }
}